<!doctype html>
<html land="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<th:block th:fragment="commonHead">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Common CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/library/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="/library/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/common-nav-bar.css">
    <title>TH</title>
</th:block>

<div th:fragment="commonNav">
    <nav class="navbar navbar-light bg-light align-items-center">
        <a id="mainNavBarBrandTitle" class="navbar-brand order-sm-1 order-1" th:href="@{/}">TH</a>

        <form id="mainSearchForm" class="form-inline my-0 order-sm-2 order-5" method="get" th:action="@{/search/post}"
              onsubmit="return search()">
            <div class="input-group">
                <input id="mainSearchInput" name="keyword" type="search" class="form-control" placeholder="검색"
                       aria-label="Search" aria-describedby="mainSearchButton">
                <div class="input-group-append">
                    <button class="btn btn-light" type="submit" id="mainSearchButton">
                        <i id="mainSearchIcon" class="fas fa-search fa-lg"></i>
                    </button>
                </div>
            </div>
        </form>

        <a th:href="@{/post-new-post}" sec:authorize="isAuthenticated()" id="postNewPostLink"
           class="order-sm-3 order-2">
            <i class="fas fa-pencil-alt fa-lg text-dark" style="margin:0;padding: 0"></i>
        </a>

        <a th:href="@{/notification/list/all}" sec:authorize="isAuthenticated()" id="notificationBellLink"
           class="order-sm-4 order-3">
            <i th:if="${ringBellUncheckedCount == 0}" id="emptyNotificationBellIcon" class="far fa-bell fa-lg text-dark"
               style="padding:0"></i>
            <div id="notEmptyNotificationBellIconDiv" th:if="${ringBellUncheckedCount > 0}"
                 style="display: inline-block">
                <i id="notEmptyNotificationBellIcon" class="fas fa-bell fa-lg text-danger"
                   style="margin:0;padding:0"></i>
                <span class="badge badge-pill badge-danger" style="z-index: 2;position: relative"
                      th:text="${ringBellUncheckedCount}">30</span>
            </div>
        </a>

        <a sec:authorize="!isAuthenticated()"
           id="mainLogInLink" class="nav-link mainLogInAndSignUpLink order-sm-3 order-2" th:href="@{/login}">로그인</a>
        <a sec:authorize="!isAuthenticated()"
           id="mainSignUpLink" class="nav-link mainLogInAndSignUpLink order-sm-4 order-3" th:href="@{/sign-up}">회원가입</a>


        <li id="userIconDropDown" class="nav-item dropdown order-sm-5 order-4" sec:authorize="isAuthenticated()">
            <a class="nav-link dropdown-toggle p-0" href="#" id="userIconImage" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <svg th:if="${#strings.isEmpty(sessionAccount?.profileImage)}"
                     th:data-jdenticon-value="${#authentication.name}"
                     width="100%" height="100%" class="rounded border bg-light"></svg>
                <img th:if="${!#strings.isEmpty(sessionAccount?.profileImage)}" th:src="${sessionAccount.profileImage}"
                     width="100%" height="100%" class="rounded border"/>
            </a>
            <div id="userDropdownMenu" class="dropdown-menu dropdown-menu-right text-center"
                 aria-labelledby="userIconImage">
                <span id="userNicknameOfUserIcon" class="dropdown-item-text"
                      th:text="${sessionAccount.nickname}"></span>
                <span id="userIdOfUserIcon" class="dropdown-item-text" sec:authentication="name"></span>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{'/account/profile-view/' + ${#authentication.name}}">프로필</a>
                <a class="dropdown-item" th:href="@{/account/setting/profile}">설정</a>
                <div class="dropdown-divider"></div>
                <form class="form-inline" th:action="@{/logout}" method="post">
                    <button class="dropdown-item" type="submit">로그아웃</button>
                </form>
            </div>
        </li>
    </nav>
    <!-- Modal -->
    <div id="non-character-search-error-alert-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="errorAlertModalLabel" aria-hidden="true"
         th:insert="main/fragment.html :: error-alert-modal-dialog(title='검색 에러', content='한 글자 이상으로 검색해야 합니다.')">
    </div>
</div>

<footer th:fragment="commonFooter" class="text-center text-muted" style="margin-top: 32px;margin-bottom: 67px;">
    © 2020 Copyright : taehee.kim.dev@gmail.com
</footer>

<!-- Modal -->
<div th:fragment="error-alert-modal-dialog(title, content)" class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="errorAlertModalLabel" th:text="${title}">검색 에러</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" th:utext="${content}">
            한 글자 이상으로 검색해야 합니다.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">확인</button>
        </div>
    </div>
</div>

<div th:fragment="delete-alert-modal-dialog(title, content)" class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel" th:text="${title}">게시글 삭제</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" th:utext="${content}">
            게시글을 삭제하시겠습니까?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" onclick="delete_submit_func()">삭제</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
        </div>
    </div>
</div>

<div th:fragment="setting-menu (currentMenu)" id="accountSettingMenu"
     class="col-lg-2 order-1 list-group text-center p-0">
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'}? active"
       th:href="@{/account/setting/profile}">프로필</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'notification'}? active"
       th:href="@{/account/setting/notification}">알림</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'tag'}? active"
       th:href="@{/account/setting/tag}">관심 태그</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'password'}? active"
       th:href="@{/account/setting/password}">패스워드</a>
    <a class="list-group-item list-group-item-action list-group-item-danger"
       th:classappend="${currentMenu == 'account'}? active" th:href="@{/account/setting/account}">계정</a>
</div>


<th:block th:fragment="notification-list(currentMenu, notificationPage, currentLink, sortDirection)">
    <h2 id="notificationListTitle" class="text-center">알림</h2>

    <div id="outerBox" class="row justify-content-center mx-auto">

        <div id="menuBox" style="display: inline-block">
            <div class="list-group text-center p-0">
                <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action"
                   th:classappend="${currentMenu == 'all'}? active" th:href="@{/notification/list/all}">
                    전체 알림
                    <span class="badge badge-primary badge-pill" th:text="${totalNotificationCount}">4</span>
                </a>
                <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action"
                   th:classappend="${currentMenu == 'link-unvisited'}? active" th:href="@{/notification/list/link-unvisited}">
                    안읽은 알림
                    <span class="badge badge-primary badge-pill" th:text="${linkUnvisitedNotificationCount}">16</span>
                </a>
                <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action list-group-item-dark"
                   th:classappend="${currentMenu == 'link-visited'}? active" th:href="@{/notification/list/link-visited}">
                    읽은 알림
                    <span class="badge badge-pill badge-dark" th:text="${linkVisitedNotificationCount}">32</span>
                </a>
            </div>
            <form id="changAllToLinkVisitedForm" th:action="@{/notification/change-all-to-link-visited}" method="post">
                <input type="hidden" name="currentUrl" th:value="${currentLink}">
                <button type="submit" class="btn btn-warning formButton">모두 읽음으로 전환</button>
            </form>
            <form id="deleteAllLinkVisitedForm" th:action="@{/notification/delete-all-link-visited}" method="post">
                <input type="hidden" name="currentUrl" th:value="${currentLink}">
                <button type="submit" class="btn btn-danger formButton">읽은 알림 모두 삭제</button>
            </form>
        </div>

        <div id="notificationListOuterDiv" class="col-lg-8">

            <div th:if="${notificationPage.getTotalElements() == 0}" class="card">
                <div class="card-body text-muted text-center" th:if="${currentMenu == 'all'}">
                    알림이 없습니다.
                </div>
                <div class="card-body text-muted text-center" th:if="${currentMenu == 'link-unvisited'}">
                    안읽은 알림이 없습니다.
                </div>
                <div class="card-body text-muted text-center" th:if="${currentMenu == 'link-visited'}">
                    읽은 알림이 없습니다.
                </div>
            </div>

            <div th:id="'notificationCard' + ${notification.id}" th:each="notification : ${notificationPage.getContent()}"
                 class="card text-center notificationCard" th:classappend="${notification.isLinkVisited() ? 'text-black-50' : ''}">
                <div th:if="${notification.notificationType == T(portfolio2.module.notification.NotificationType).NEW_POST_WITH_MY_INTEREST_TAG_IS_POSTED}"
                     class="card-header notificationCardHeader" style="position: relative">
                    관심 태그가 포함된 새로운 글 알림
                    <div class="notificationDeleteButton"
                         th:onclick="'javascript:deleteNotification(' + ${notification.id} + ');'">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div th:if="${notification.notificationType == T(portfolio2.module.notification.NotificationType).MY_INTEREST_TAG_IS_ADDED_TO_UPDATED_POST}"
                     class="card-header">
                    관심 태그가 추가된 글 알림
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <span th:if="${notification.notificationType == T(portfolio2.module.notification.NotificationType).NEW_POST_WITH_MY_INTEREST_TAG_IS_POSTED ||
                                       notification.notificationType == T(portfolio2.module.notification.NotificationType).MY_INTEREST_TAG_IS_ADDED_TO_UPDATED_POST}"
                              th:each="tag : ${notification.commonTag}">
                            <span th:text="${tag.getTitle()}"></span>
                            <span th:if="${#bools.isFalse(tagStat.last)}">,</span>
                        </span>
                    </h5>
                    <p class="card-text" th:if="${notification.notificationType == T(portfolio2.module.notification.NotificationType).NEW_POST_WITH_MY_INTEREST_TAG_IS_POSTED}">
                        위의 관심 태그가 포함된 새로운 글이 게시되었습니다.
                    </p>
                    <p class="card-text" th:if="${notification.notificationType == T(portfolio2.module.notification.NotificationType).MY_INTEREST_TAG_IS_ADDED_TO_UPDATED_POST}">
                        위의 관심 태그가 추가된 글이 있습니다.
                    </p>
                    <p class="card-text">
                        아래의 링크를 클릭해 확인해 보세요!
                    </p>
                    <a th:href="@{'/notification/link-visit/' + ${notification.id}}" type="button" class="btn btn-light" th:classappend="${notification.isLinkVisited() ? 'text-black-50' : ''}">
                        "<span th:text="${notification.title}"></span>"
                    </a>
                </div>
                <div class="card-footer time-before" th:text="${notification.getCreatedDateTime()}" th:classappend="${notification.isLinkVisited() ? 'text-black-50' : 'text-primary'}">
                    2 days ago
                </div>
            </div>
            <nav th:replace="main/fragment.html :: pagination(
                                                            page = ${notificationPage},
                                                            currentLink = ${currentLink},
                                                            sortDirection = ${sortDirection},
                                                            keywordLinkPartForSearch = '')"></nav>
        </div>
    </div>
    <script type="application/javascript">
        function deleteNotification(notificationId) {
            $.ajax({
                autocomplete: {
                    enabled: true,
                    rightKey: true,
                },
                contentType: "application/json; charset=utf-8",
                method: "POST",
                url: "/notification/delete",
                data: JSON.stringify({'notificationIdToDelete': notificationId})
            }).done(function () {
                $("#notificationCard" + notificationId).fadeOut(300,
                    function () {
                        $(this).remove();
                        window.location.href = document.getElementsByName('currentUrl')[0].value;
                    }
                );
            });
        }
    </script>
</th:block>


<nav th:fragment="pagination(page, currentLink, sortDirection, keywordLinkPartForSearch)" th:if="${page.getTotalPages() >= 1}" id="pagination" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${!page.hasPrevious()}? disabled">
            <a th:href="@{${currentLink} + '?' + ${keywordLinkPartForSearch} + 'sort=' + ${sortProperty} + ',' + ${sortDirection} + '&page=' + ${page.getNumber() - 1}}"
               class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <!--
            (0 ~ 4) / 5 = 0 -> 0 ~ 4 but max = 4
            (5 ~ 9) / 5 = 1 -> 5 ~ 9 but max = 9
            (10 ~ 14) / 5 = 2 -> 10 ~ 14 but max = 14
            (15 ~ 19) / 5 = 3 -> 15 ~ 19 but max = 19
            (20 ~ 24) / 5 = 4 -> 20 ~ 24 but max = 24
         -->
        <li class="page-item" th:classappend="${currentPageNumberIndex == page.getNumber()}? active"
            th:each="currentPageNumberIndex: ${#numbers.sequence(currentPageRangeFirstIndex, currentPageRangeLastIndex)}">

            <a th:href="@{${currentLink} + '?' + ${keywordLinkPartForSearch} + 'sort=' + ${sortProperty} + ',' + ${sortDirection} + '&page=' + ${currentPageNumberIndex}}"
               class="page-link" href="#" th:text="${currentPageNumberIndex + 1}">1</a>
        </li>

        <li class="page-item" th:classappend="${!page.hasNext()}? disabled">
            <a th:href="@{${currentLink} + '?' + ${keywordLinkPartForSearch} + 'sort=' + ${sortProperty} + ',' + ${sortDirection} + '&page=' + ${page.getNumber() + 1}}"
               class="page-link" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>


<th:block th:fragment="commonJavaScript">
    <script src="/library/jquery/jquery-3.5.1.min.js"></script>
    <script src="/library/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/library/jdenticon/jdenticon-2.2.0.min.js"></script>
    <script type="application/javascript">
        const regexForSearch = /[a-zA-Zㄱ-ㅎㅏ-ㅣ가-힣0-9]+/g;
        const searchInput = document.getElementById('mainSearchInput');

        function search() {
            if (regexForSearch.test(searchInput.value)) {
                return true;
            } else {
                $('#non-character-search-error-alert-modal').modal("show");
                return false;
            }
        }
    </script>
</th:block>

<script type="application/javascript" th:inline="javascript" th:fragment="ajax-csrf-header">
    $(function () {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>


<th:block th:fragment="momentjs">
    <script src="/library/momentjs/moment-with-locales.min.js"></script>
    <script type="application/javascript">
        $(function () {
            moment.locale('ko');
            $(".date-weekday-time").text(function (index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLLL');
            });
            $(".time-before").text(function (index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").fromNow();
            });
            $(".post-first-written-time").text(function (index, dateTime) {
                if (isToday(dateTime)) {
                    return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LT');
                } else {
                    return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('L');
                }
            });
        })

        function isToday(dateTime) {
            const today = new Date();
            const dateToCompare = new Date(dateTime);
            return today.getFullYear() === dateToCompare.getFullYear()
                && today.getMonth() === dateToCompare.getMonth()
                && today.getDate() === dateToCompare.getDate();
        }
    </script>
</th:block>

<th:block th:fragment="markjs">
    <script src="/library/markjs/dist/jquery.mark.es6.js"></script>
    <script type="application/javascript">
        $(function(){
            const mark = function() {
                // Read the keyword
                const keyword = $("#keyword").text();

                // Determine selected options
                const options = {
                    "each": function(element) {
                        setTimeout(function() {
                            $(element).addClass("animate");
                        }, 150);
                    }
                };

                // Mark the keyword inside the context
                $(".context").unmark({
                    done: function() {
                        $(".context").mark(keyword, options);
                    }
                });
            };

            mark();
        });
    </script>
</th:block>