<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>TH 관심 태그 게시물 알림</title>
</head>
<body>
    <p>안녕하세요, <span style="font-weight: bold" th:text="${nickname}">nickname</span>(<span style="font-weight: bold" th:text="${userId}">userId</span>)님!</p>
    <p>회원님의 관심 태그들 중,</p>

    <span style="font-weight: bold" th:each="tag : ${allTagInNewPostAndAccount}">
        <span th:text="${tag.getTitle()}"></span>
        <span th:if="${#bools.isFalse(tagStat.last)}">, </span>
    </span>

    <p th:text="${content}"></p>
    <p>아래의 링크를 클릭해 확인해 보세요.</p>
    <p style="font-weight: bold"><a th:href="${host + newPostLink}" th:text='|"${post.title}"|'></a></p>
    <p><a th:href="${host}">TH 가기</a></p>
    <footer>
        <small>TH&copy; 2020</small>
    </footer>
</body>
</html>