<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>TH 비밀번호 변경 알림</title>
</head>
<body>
    <p>안녕하세요, <span style="font-weight: bold" th:text="${nickname}">nickname</span>(<span style="font-weight: bold" th:text="${userId}">userId</span>)님!</p>
    <h2>비밀번호 변경이 완료되었습니다.</h2>
    <p>만약 본인이 변경하지 않으셨다면, 아래의 링크를 클릭하여 비밀번호를 변경해 주세요.</p>
    <p><a th:href="${host + passwordUpdateLink}">[비밀번호 변경하기]</a></p>
    <p><a th:href="${host}">TH 가기</a></p>
    <footer>
        <small>TH&copy; 2020</small>
    </footer>
</body>
</html>