<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>TH 닉네임 변경 알림</title>
</head>
<body>
    <p>안녕하세요, <span style="font-weight: bold" th:text="${nickname}">nickname</span>(<span style="font-weight: bold" th:text="${userId}">userId</span>)님!</p>
    <h2>회원님의 닉네임이 <span th:text="${beforeNickname}" style="font-weight: bold;text-decoration: underline">sampleBeforeNickname</span> 에서
        <span th:text="${afterNickname}" style="font-weight: bold;text-decoration: underline">sampleAfterNickname</span>&nbsp;로 변경되었습니다.</h2>
    <p>만약 본인이 변경하지 않으셨다면, 아래의 링크를 클릭하여 비밀번호를 변경한 후, 닉네임을 다시 변경해 주세요.</p>
    <p><a th:href="${host + passwordUpdateLink}">[비밀번호 변경하기]</a></p>
    <p><a th:href="${host}">TH 가기</a></p>
    <footer>
        <small>TH&copy; 2020</small>
    </footer>
</body>
</html>