<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>TH 이메일 변경 알림</title>
</head>
<body>
    <div>
        <p>안녕하세요, <span th:text="${nickname}">sampleNickname</span>(<span th:text="${userId}">sampleUserId</span>)님!</p>

        <p style="font-size: 18px">회원님의 이메일이 <span th:text="${beforeEmail}" style="font-weight: bold">before@email.com</span> 에서
            <span th:text="${afterEmail}" style="font-weight: bold">after@email.com</span>로 변경되었습니다.</p>

        <p>만약 본인이 변경하지 않으셨다면, 아래의 링크를 클릭하여 비밀번호를 변경한 후, 이메일을 다시 변경해 주세요.</p>

        <div style="margin-top: 6px">
            <a th:href="${host + passwordUpdateLink}">비밀번호 변경하기</a>
        </div>

        <div style="margin-top: 15px;">
            <a th:href="${host}">TH 가기</a>
        </div>
    </div>
    <footer>
        <small>TH&copy; 2020</small>
    </footer>
</body>
</html>