<!DOCTYPE HTML>
<html land="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment.html :: commonHead"></th:block>
</head>
<body>

<div th:replace="fragment.html :: commonNav"></div>

<div class="container">

    <div class="text-center">

        <h1 style="margin-top: 100px">이메일 인증 이메일이 발송되었습니다.</h1>

        <h3 style="margin-top: 30px">이메일 인증을 해야 이메일로 비밀번호 찾기, 이메일 알림 등 이메일을 통한 서비스를 받으실 수 있습니다.</h3>

        <div>
            <p style="margin-top: 40px; margin-bottom: 10px;">회원님의 이메일 : </p>
            <p class="lead" th:text="${email}" style="margin-bottom: 31px;">your@email.com</p>
            <p class="lead" style="margin-bottom: 33px;">이메일이 도착하지 않는다면, 아래의 버튼을 눌러 이메일을 변경하거나 인증 메일을 다시 보내세요.</p>
            <a class="btn btn-outline-info" th:href="@{/account/setting/account}">계정 이메일 설정</a>
        </div>


    </div>

</div>
<footer th:replace="fragment.html :: commonFooter"></footer>
<script th:replace="fragment.html :: commonJavaScript"></script>
</body>
</html>