<!DOCTYPE HTML>
<html land="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment.html :: commonHead"></th:block>
    <link rel="stylesheet" href="/library/summernote/summernote-bs4.min.css" />
    <link rel="stylesheet" href="/library/tagify/dist/tagify.css">
    <style>
        .form-group{
            margin-bottom: 30px;
        }
    </style>
</head>
<body>

<div th:replace="fragment.html :: commonNav"></div>

<div class="container">
    <div>
        <h1 id="pageTitle" class="text-center" style="margin-top: 65px;margin-bottom: 33px">글 작성</h1>
    </div>
    <form id="post-form" class="needs-validation"  style="margin: auto; width: 750px"
          th:action="@{/post-new-post}" th:object="${postRequestDto}" method="post" novalidate>
        <!-- field : name = "nickname", value = *{nickname} (nickname)의 값 -->
        <div class="form-group">
            <input type="text" th:field="*{title}" class="form-control"
                   placeholder="글 제목 (50자 이내로 작성해 주세요)"
                   th:classappend="${#fields.hasErrors('title')} ? 'is-invalid' : ''">
            <small class="form-text text-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Post title Error</small>
        </div>

        <div class="form-group">
            <textarea id="post-content" type="textarea" th:field="*{content}" class="form-control"
                      th:classappend="${#fields.hasErrors('content')} ? 'is-invalid' : ''"></textarea>
            <small class="form-text text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Post content Error</small>
        </div>
        <div style="width: 750px">

            <div class="alert alert-info" role="alert" style="width: 750px">
                태그를 입력하고 Enter 또는 콤마(,)를 입력하세요.
                <br>해당 태그에 대해 알림 설정을 한 회원들에게 알림이 전송됩니다.
            </div>
            <input id="tag" name="tag" th:value="${postRequestDto.getTagTitleOnPost()}">
            <input type="hidden" id="total-tag-to-submit" name="tagTitleOnPost" th:value="${postRequestDto.getTagTitleOnPost()}">
        </div>

        <div class="form-group" >
            <button class="btn btn-primary btn-block" type="button" onclick="submit_func()" style="margin-top: 22px"
                    aria-describedby="submitHelp">글 작성하기</button>
        </div>
    </form>
</div>
<footer th:replace="fragment.html :: commonFooter"></footer>
<script th:replace="fragment.html :: commonJavaScript"></script>
<script src="/library/summernote/summernote-bs4.min.js"></script>
<script src="/library/tagify/dist/tagify.min.js"></script>
<script type="application/javascript">
    let total_tag = []

    window.addEventListener('DOMContentLoaded', function () {
        const existing_tag_str = document.getElementById("total-tag-to-submit").value;
        if (existing_tag_str !== ""){
            total_tag = existing_tag_str.split(',');
        }
    });

    $(function () {
        $('#post-content').summernote({
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Noto Sans KR', 'Merriweather'],
            tabsize: 4,
            height: 300
        });
    });

    function onAdd(e) {
        // 태그 추가 시
        total_tag.push(e.detail.data.value);
    }

    function onRemove(e) {
        // 태그 삭제 시
        total_tag.splice(total_tag.indexOf(e.detail.data.value), 1);
    }

    // The DOM element you wish to replace with Tagify
    const input = document.querySelector('input[name=tag]');

    // initialize Tagify on the above input node reference
    const new_tag = new Tagify(input)

    new_tag.on("add", onAdd);
    new_tag.on("remove", onRemove);

    function submit_func(){
        document.getElementById('total-tag-to-submit').value = total_tag.join();
        document.getElementById('post-form').submit();
    }
</script>
</body>
</html>