<!DOCTYPE HTML>
<html land="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment.html :: commonHead"></th:block>
    <link rel="stylesheet" href="/library/tagify/dist/tagify.css">
</head>
<body>

<div th:replace="fragment.html :: commonNav"></div>

<div class="container">

    <div id="post-view" style="text-align: center; margin-top: 100px">
        <table class="table table-bordered" style="margin: auto; width: 750px; margin-bottom: 35px">
            <tbody>
            <tr>
                <td colspan="2" th:text="${post.getTitle()}" style="padding-top: 20px;padding-bottom: 20px;
                    font-size: 24px; font-weight: bold">글 제목</td>
            </tr>
            <tr>
                <td style="min-width:100px"><span>작성자 : </span></td><td style="vertical-align: middle" th:text="${post.getAuthor().getUserId()}">글 작성자 아이디</td>
            </tr>
            <tr>
                <td style="min-width:100px"><span>작성일 : </span></td><td style="vertical-align: middle" class="date-weekday-time" th:text="${firstWrittenTime}">글 작성 날짜</td>
            </tr>
            <tr>
                <td style="min-width:100px;vertical-align: middle"><span>태그 : </span></td>
                <td style="vertical-align: middle"><input name="tag" readonly th:value="${#strings.listJoin(tagOnPost, ',')}"></td>
            </tr>
            <tr>
                <td colspan="2" th:utext="${post.getContent()}" style="padding-top: 38px;padding-bottom: 22px">글 내용</td>
            </tr>
            </tbody>
        </table>

        <a th:if="${isAuthor}" class="btn btn-primary" href="#" th:href="@{#}"
           style="width: 300px; margin-right: 50px">게시글  수정</a>
        <a th:if="${isAuthor}" class="btn btn-danger" href="#" th:href="@{#}"
              style="width: 300px">게시글 삭제</a>

    </div>

</div>
<footer th:replace="fragment.html :: commonFooter"></footer>
<script th:replace="fragment.html :: commonJavaScript"></script>
<script src="/library/tagify/dist/tagify.min.js"></script>
<script type="application/javascript">
    const input = document.querySelector('input[name=tag]');
    tagify = new Tagify(input);
</script>
<script th:replace="fragment.html :: date-time"></script>
</body>
</html>