<!DOCTYPE HTML>
<html land="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment.html :: commonHead"></th:block>
    <style>
        .list-group-item{
            width: 160px;
            padding: 7px;
        }
        .profile-list-content{
            font-size: 20px;
            padding-left: 40px;
        }
    </style>
    <link rel="stylesheet" href="/library/cropper/cropperjs-master/dist/cropper.min.css">
</head>
<body>

<nav th:replace="fragment.html :: commonNav"></nav>

<div class="container">

    <div class="alert alert-warning text-center" role="alert" th:if="${sessionAccount != null && !sessionAccount.emailVerified}">
        ShareMind 가입을 완료하려면 <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>해 주세요.
    </div>

        <h2 style="text-align: center; margin-top: 75px; margin-bottom: 47px">알림 설정</h2>
        <div class="row justify-content-center">

            <div style="margin-right: 75px">
                <div th:replace="fragment.html :: setting-menu(currentMenu='notification')"></div>
            </div>

            <div>

                <div th:if="${message}" class="alert alert-info alert-dismissible fade show text-center" role="alert"
                    style="margin-bottom: 33px; padding: 10px 46px 8px 21px;">
                    <span th:text="${message}">알림설정 저장 완료 메시지</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                        style="padding-top: 5px;padding-bottom: 0px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>



                <div class="row" th:fragment="profile-form">
                    <form th:action="@{/account/setting/notification}" th:object="${notificationUpdateDto}" method="post" novalidate>

                        <div class="alert alert-light" role="alert">
                            <strong>관심 주제에
                                <a href="#" th:href="@{/setting/tag}">관심있는 주제</a>의 게시물이 게시되었을 때</strong> 알림을 받을 방법을 설정하세요.
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{tagNotificationByEmail}" class="custom-control-input" id="tagNotificationByEmail">
                                <label class="custom-control-label" for="tagNotificationByEmail">이메일로 받기</label>
                            </div>
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{tagNotificationByWeb}" class="custom-control-input" id="tagNotificationByWeb">
                                <label class="custom-control-label" for="tagNotificationByWeb">웹으로 받기</label>
                            </div>
                        </div>

                        <div class="alert alert-light" role="alert">
                            <strong><a href="#" th:href="@{/account/setting/tag}">관심 주제</a>에
                                <a href="#" th:href="@{/setting/tag}">관심있는 주제</a>의 게시물이 게시되었을 때</strong> 알림을 받을 방법을 설정하세요.
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{tagNotificationByEmail}" class="custom-control-input" id="tagNotificationByEmail">
                                <label class="custom-control-label" for="tagNotificationByEmail">이메일로 받기</label>
                            </div>
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{tagNotificationByWeb}" class="custom-control-input" id="tagNotificationByWeb">
                                <label class="custom-control-label" for="tagNotificationByWeb">웹으로 받기</label>
                            </div>
                        </div>


                        <div class="alert alert-light" role="alert">
                            <strong><a href="#" th:href="@{/account/setting/tag}">관심 주제</a>에
                                <a href="#" th:href="@{/setting/tag}">관심있는 주제</a>의 게시물이 게시되었을 때</strong> 알림을 받을 방법을 설정하세요.
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{tagNotificationByEmail}" class="custom-control-input" id="tagNotificationByEmail">
                                <label class="custom-control-label" for="tagNotificationByEmail">이메일로 받기</label>
                            </div>
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{tagNotificationByWeb}" class="custom-control-input" id="tagNotificationByWeb">
                                <label class="custom-control-label" for="tagNotificationByWeb">웹으로 받기</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">저장하기</button>
                        </div>
                    </form>
                </div>


            </div>

        </div>


</div>
<footer th:replace="fragment.html :: commonFooter"></footer>
<script th:replace="fragment.html :: commonJavaScript"></script>
</body>
</html>