<!DOCTYPE HTML>
<html land="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment.html :: commonHead"></th:block>
    <style>
        .notification-description{
            padding-left: 0;
        }
    </style>
</head>
<body>

<div th:replace="fragment.html :: commonNav"></div>

<div class="container">

        <h2 style="text-align: center; margin-top: 75px; margin-bottom: 37px">알림 설정</h2>
        <div class="row justify-content-center">

            <div>
                <div th:replace="fragment.html :: setting-menu(currentMenu='notification')"></div>
            </div>

            <div>

                <div class="alert alert-danger" role="alert" th:if="${#bools.isFalse(sessionAccount.isEmailVerified())}"
                     style="padding-left: 32px;padding-top: 15px;">
                    인증된 이메일이 없어, 이메일로 알림 받기 기능은 사용할 수 없습니다.
                </div>

                <div th:if="${message}" class="alert alert-info alert-dismissible fade show text-center" role="alert"
                    style="margin-bottom: 33px; padding: 10px 46px 8px 21px;">
                    <span th:text="${message}">알림설정 저장 완료 메시지</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                        style="padding-top: 5px;padding-bottom: 0px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                    <form th:action="@{/account/setting/notification}" th:object="${notificationUpdateRequestDto}" method="post" novalidate>


                        <div class="alert alert-light notification-description" role="alert">
                            <strong>누군가 <a href="#" th:href="@{'/account/post/' + ${sessionAccount.userId}}">내 게시글</a>에 좋아요를 눌렀을 때</strong> 알림을 수신할 방법을 설정하세요.
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{notificationLikeOnMyPostByEmail}" class="custom-control-input" id="notificationLikeOnMyPostByEmail"
                                       th:disabled="${#bools.isFalse(sessionAccount.isEmailVerified())}">
                                <label class="custom-control-label" for="notificationLikeOnMyPostByEmail">이메일로 받기</label>
                            </div>
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{notificationLikeOnMyPostByWeb}" class="custom-control-input" id="notificationLikeOnMyPostByWeb">
                                <label class="custom-control-label" for="notificationLikeOnMyPostByWeb">웹으로 받기</label>
                            </div>
                        </div>


                        <div class="alert alert-light notification-description" role="alert">
                            <strong>누군가 <a href="#" th:href="@{'/account/comment/' + ${sessionAccount.userId}}">내 댓글</a>에 좋아요를 눌렀을 때</strong> 알림을 수신할 방법을 설정하세요.
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{notificationLikeOnMyCommentByEmail}" class="custom-control-input" id="notificationLikeOnMyCommentByEmail"
                                       th:disabled="${#bools.isFalse(sessionAccount.isEmailVerified())}">
                                <label class="custom-control-label" for="notificationLikeOnMyCommentByEmail">이메일로 받기</label>
                            </div>
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{notificationLikeOnMyCommentByWeb}" class="custom-control-input" id="notificationLikeOnMyCommentByWeb">
                                <label class="custom-control-label" for="notificationLikeOnMyCommentByWeb">웹으로 받기</label>
                            </div>
                        </div>


                        <div class="alert alert-light notification-description" role="alert">
                            <strong>누군가 <a href="#" th:href="@{'/account/post/' + ${sessionAccount.userId}}">내 게시글</a>에 댓글을 남겼을 때</strong> 알림을 수신할 방법을 설정하세요.
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{notificationCommentOnMyPostByEmail}" class="custom-control-input" id="notificationCommentOnMyPostByEmail"
                                       th:disabled="${#bools.isFalse(sessionAccount.isEmailVerified())}">
                                <label class="custom-control-label" for="notificationCommentOnMyPostByEmail">이메일로 받기</label>
                            </div>
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{notificationCommentOnMyPostByWeb}" class="custom-control-input" id="notificationCommentOnMyPostByWeb">
                                <label class="custom-control-label" for="notificationCommentOnMyPostByWeb">웹으로 받기</label>
                            </div>
                        </div>


                        <div class="alert alert-light notification-description" role="alert">
                            <strong>누군가 <a href="#" th:href="@{'/account/comment/' + ${sessionAccount.userId}}">내 댓글</a>에 댓글을 남겼을 때</strong> 알림을 수신할 방법을 설정하세요.
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{notificationCommentOnMyCommentByEmail}" class="custom-control-input" id="notificationCommentOnMyCommentByEmail"
                                       th:disabled="${#bools.isFalse(sessionAccount.isEmailVerified())}">
                                <label class="custom-control-label" for="notificationCommentOnMyCommentByEmail">이메일로 받기</label>
                            </div>
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{notificationCommentOnMyCommentByWeb}" class="custom-control-input" id="notificationCommentOnMyCommentByWeb">
                                <label class="custom-control-label" for="notificationCommentOnMyCommentByWeb">웹으로 받기</label>
                            </div>
                        </div>


                        <div class="alert alert-light notification-description" role="alert">
                            <strong><a href="#" th:href="@{/account/setting/tag}">관심있는 태그</a>의 게시물이 게시되었을 때</strong> 알림을 수신할 방법을 설정하세요.
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{notificationNewPostWithMyInterestTagByEmail}" class="custom-control-input" id="myInterestTagNotificationByEmail"
                                       th:disabled="${#bools.isFalse(sessionAccount.isEmailVerified())}">
                                <label class="custom-control-label" for="myInterestTagNotificationByEmail">이메일로 받기</label>
                            </div>
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{notificationNewPostWithMyInterestTagByWeb}" class="custom-control-input" id="myInterestTagNotificationByWeb">
                                <label class="custom-control-label" for="myInterestTagNotificationByWeb">웹으로 받기</label>
                            </div>
                        </div>



                        <div class="form-group" style="margin-top: 40px">
                            <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">저장하기</button>
                        </div>
                    </form>


            </div>

        </div>


</div>
<footer th:replace="fragment.html :: commonFooter"></footer>
<script th:replace="fragment.html :: commonJavaScript"></script>
</body>
</html>