<!DOCTYPE HTML>
<html land="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment.html :: commonHead"></th:block>
    <style>
        .notification-description{
            padding-left: 0;
        }
    </style>
</head>
<body>

<div th:replace="fragment.html :: commonNav"></div>

<div class="container">

        <h2 style="text-align: center; margin-top: 75px; margin-bottom: 37px">알림 설정</h2>
        <div class="row justify-content-center">

            <div>
                <div th:replace="fragment.html :: setting-menu(currentMenu='notification')"></div>
            </div>

            <div>

                <div th:if="${message}" class="alert alert-info alert-dismissible fade show text-center" role="alert"
                    style="margin-bottom: 33px; padding: 10px 46px 8px 21px;">
                    <span th:text="${message}">알림설정 저장 완료 메시지</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                        style="padding-top: 5px;padding-bottom: 0px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                    <form th:action="@{/account/setting/notification}" th:object="${notificationUpdateRequestDto}" method="post" novalidate>


                        <div class="alert alert-light notification-description" role="alert">
                            <strong>누군가 <a href="#" th:href="@{'/account/post/' + ${sessionAccount.userId}}">내 게시글</a>에 좋아요를 눌렀을 때</strong> 알림을 수신할 방법을 설정하세요.
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{notificationLikeOnMyPostByEmail}" class="custom-control-input" id="notificationLikeOnMyPostByEmail">
                                <label class="custom-control-label" for="notificationLikeOnMyPostByEmail">이메일로 받기</label>
                            </div>
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{notificationLikeOnMyPostByWeb}" class="custom-control-input" id="notificationLikeOnMyPostByWeb">
                                <label class="custom-control-label" for="notificationLikeOnMyPostByWeb">웹으로 받기</label>
                            </div>
                        </div>


                        <div class="alert alert-light notification-description" role="alert">
                            <strong>누군가 <a href="#" th:href="@{'/account/reply/' + ${sessionAccount.userId}}">내 댓글</a>에 좋아요를 눌렀을 때</strong> 알림을 수신할 방법을 설정하세요.
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{notificationLikeOnMyReplyByEmail}" class="custom-control-input" id="notificationLikeOnMyReplyByEmail">
                                <label class="custom-control-label" for="notificationLikeOnMyReplyByEmail">이메일로 받기</label>
                            </div>
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{notificationLikeOnMyReplyByWeb}" class="custom-control-input" id="notificationLikeOnMyReplyByWeb">
                                <label class="custom-control-label" for="notificationLikeOnMyReplyByWeb">웹으로 받기</label>
                            </div>
                        </div>


                        <div class="alert alert-light notification-description" role="alert">
                            <strong>누군가 <a href="#" th:href="@{'/account/post/' + ${sessionAccount.userId}}">내 게시글</a>에 댓글을 남겼을 때</strong> 알림을 수신할 방법을 설정하세요.
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{notificationReplyOnMyPostByEmail}" class="custom-control-input" id="notificationReplyOnMyPostByEmail">
                                <label class="custom-control-label" for="notificationReplyOnMyPostByEmail">이메일로 받기</label>
                            </div>
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{notificationReplyOnMyPostByWeb}" class="custom-control-input" id="notificationReplyOnMyPostByWeb">
                                <label class="custom-control-label" for="notificationReplyOnMyPostByWeb">웹으로 받기</label>
                            </div>
                        </div>


                        <div class="alert alert-light notification-description" role="alert">
                            <strong>누군가 <a href="#" th:href="@{'/account/reply/' + ${sessionAccount.userId}}">내 댓글</a>에 댓글을 남겼을 때</strong> 알림을 수신할 방법을 설정하세요.
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{notificationReplyOnMyReplyByEmail}" class="custom-control-input" id="notificationReplyOnMyReplyByEmail">
                                <label class="custom-control-label" for="notificationReplyOnMyReplyByEmail">이메일로 받기</label>
                            </div>
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{notificationReplyOnMyReplyByWeb}" class="custom-control-input" id="notificationReplyOnMyReplyByWeb">
                                <label class="custom-control-label" for="notificationReplyOnMyReplyByWeb">웹으로 받기</label>
                            </div>
                        </div>


                        <div class="alert alert-light notification-description" role="alert">
                            <strong><a href="#" th:href="@{/account/setting/tag}">관심있는 태그</a>의 게시물이 게시되었을 때</strong> 알림을 수신할 방법을 설정하세요.
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{notificationNewPostWithMyTagByEmail}" class="custom-control-input" id="tagNotificationByEmail">
                                <label class="custom-control-label" for="tagNotificationByEmail">이메일로 받기</label>
                            </div>
                            <div class="custom-control custom-switch custom-control-inline">
                                <input type="checkbox" th:field="*{notificationNewPostWithMyTagByWeb}" class="custom-control-input" id="tagNotificationByWeb">
                                <label class="custom-control-label" for="tagNotificationByWeb">웹으로 받기</label>
                            </div>
                        </div>



                        <div class="form-group" style="margin-top: 50px">
                            <button class="btn btn-outline-primary" type="submit" aria-describedby="submitHelp">저장하기</button>
                        </div>
                    </form>


            </div>

        </div>


</div>
<footer th:replace="fragment.html :: commonFooter"></footer>
<script th:replace="fragment.html :: commonJavaScript"></script>
</body>
</html>