<!DOCTYPE HTML>
<html land="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment.html :: commonHead"></th:block>
    <style>
        .list-group-item{
            width: 160px;
            padding: 7px;
        }
        .profile-list-content{
            font-size: 20px;
            padding-left: 40px;
        }
    </style>
    <link rel="stylesheet" href="/library/cropper/cropperjs-master/dist/cropper.min.css">
</head>
<body>

<nav th:replace="fragment.html :: commonNav"></nav>

<div class="container">

    <div class="alert alert-warning text-center" role="alert" th:if="${sessionAccount != null && !sessionAccount.emailVerified}">
        ShareMind 가입을 완료하려면 <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>해 주세요.
    </div>

    <div class="container">

        <h2 style="text-align: center; margin-top: 75px; margin-bottom: 47px">비밀번호 변경</h2>
        <div class="row justify-content-center">

            <div style="margin-right: 75px">
                <div th:replace="fragment.html :: setting-menu(currentMenu='password')"></div>
            </div>

            <div>

                <div th:if="${message}" class="alert alert-info alert-dismissible fade show text-center" role="alert"
                    style="margin-bottom: 33px; padding: 10px 46px 8px 21px;">
                    <span th:text="${message}">비밀번호 변경 완료 메시지</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                        style="padding-top: 5px;padding-bottom: 0px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form style="width: 315px"
                      th:action="@{/account/setting/password}" th:object="${passwordUpdateRequestDto}" method="post" novalidate>
                    <div class="form-group" style="margin-bottom: 27px">
                        <label for="newPassword">새로운 비밀번호</label>
                        <input id="newPassword" type="password" th:field="*{newPassword}" class="form-control"
                               placeholder="새로운 비밀번호를 입력해 주세요." aria-describedby="newPasswordHelp" required>
                        <small id="newPasswordHelp" class="form-text text-muted">
                            8자 이상 30자 이내로 입력해 주세요. <br>영문자, 숫자, 특수문자를 사용할 수 있으며 공백은 사용할 수 없습니다.
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">
                            newPassword error
                        </small>
                    </div>

                    <div class="form-group" style="margin-bottom: 37px">
                        <label for="newPasswordConfirm">새로운 비밀번호 확인</label>
                        <input id="newPasswordConfirm" type="password" th:field="*{newPasswordConfirm}" class="form-control"
                               placeholder="비밀번호를 한 번 더 입력해 주세요." aria-describedby="newPasswordConfirmHelp" required>
                        <small id="newPasswordConfirmHelp" class="form-text text-muted">
                            비밀번호를 한 번 더 입력해 주세요.
                        </small>
                        <small class="form-text text-danger" th:if="${#fields.hasErrors('newPasswordConfirm')}" th:errors="*{newPasswordConfirm}">
                            newPasswordConfirm error
                        </small>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit"
                                aria-describedby="submitHelp">비밀번호 변경</button>
                    </div>
                </form>
            </div>

        </div>



    </div>

</div>
<footer th:replace="fragment.html :: commonFooter"></footer>
<script th:replace="fragment.html :: commonJavaScript"></script>
</body>
</html>