<!DOCTYPE HTML>
<html land="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment.html :: commonHead"></th:block>
    <link rel="stylesheet" href="/library/tagify/dist/tagify.css">
    <style>
        .tagify__input{
            margin: 0;
            margin-bottom: 10px;
        }
        .tagify-outside{
            border: none;
        }
    </style>
</head>
<body>

<nav th:replace="fragment.html :: commonNav"></nav>

<div class="container">

    <div class="alert alert-warning text-center" role="alert" th:if="${sessionAccount != null && !sessionAccount.emailVerified}">
        ShareMind 가입을 완료하려면 <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>해 주세요.
    </div>

        <h2 style="text-align: center; margin-top: 75px; margin-bottom: 47px">관심 태그 설정</h2>
        <div class="row justify-content-center">

            <div>
                <div th:replace="fragment.html :: setting-menu(currentMenu='tag')"></div>
            </div>

            <div>

                <div th:if="${message}" class="alert alert-info alert-dismissible fade show text-center" role="alert"
                    style="margin-bottom: 33px; padding: 10px 46px 8px 21px;">
                    <span th:text="${message}">관심 태그 설정 완료 메시지</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                        style="padding-top: 5px;padding-bottom: 0px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="alert alert-info" role="alert">
                    관심있는 주제의 태그를 설정해 보세요.
                    <br>해당 태그가 달린 새로운 글이 게시되면, 알림을 받을 수 있습니다!
                    <br>태그를 입력하고 콤마(,) 또는 엔터를 입력하세요.
                </div>

                <input id="tag" type="text" name="tag" th:value="${#strings.listJoin(tag, ',')}"
                       class="tagify-outside" aria-describedby="tagHelp"/>

            </div>

        </div>


</div>
<footer th:replace="fragment.html :: commonFooter"></footer>
<script th:replace="fragment.html :: commonJavaScript"></script>
<script th:replace="fragment.html :: ajax-csrf-header"></script>
<script src="/library/tagify/dist/tagify.min.js"></script>
<script type="application/javascript">
    $(function () {
        function tagRequest(url, tagTitle) {
            $.ajax({
                dataType: "json",
                autocomplete: {
                    enabled: true,
                    rightKey: true,
                },
                contentType: "application/json; charset=utf-8",
                method: "POST",
                url: "/account/setting/tag" + url,
                data: JSON.stringify({'tagTitle': tagTitle})
            }).done(function (data, status) {
                console.log("${data} and status is ${status}");
            });
        }

        function onAdd(e) {
            tagRequest("/add", e.detail.data.value);
        }

        function onRemove(e) {
            tagRequest("/remove", e.detail.data.value);
        }

        var tagInput = document.querySelector("#tag");

        var tagify = new Tagify(tagInput, {
            pattern: /^.{0,20}$/,
            dropdown : {
                enabled: 1, // suggest tags after a single character input
            } // map tags
        });

        tagify.on("add", onAdd);
        tagify.on("remove", onRemove);

        // add a class to Tagify's input element
        tagify.DOM.input.classList.add('form-control');
        // re-place Tagify's input element outside of the  element (tagify.DOM.scope), just before it
        tagify.DOM.scope.parentNode.insertBefore(tagify.DOM.input, tagify.DOM.scope);
    });
</script>
</body>
</html>