<!DOCTYPE HTML>
<html land="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment.html :: commonHead"></th:block>
</head>
<body>

<div th:replace="fragment.html :: commonNav"></div>

<div class="container">

    <div class="notification py-5 text-center">
        <p class="lead" style="margin-top: 10px; margin-bottom: 35px" th:text="${errorTitle}">에러 제목</p>
        <div class="alert alert-danger" role="alert" th:text="${errorContent}">
            에러 내용
        </div>
    </div>

</div>
<footer th:replace="fragment.html :: commonFooter"></footer>
<script th:replace="fragment.html :: commonJavaScript"></script>
</html>