<!DOCTYPE HTML>
<html land="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="main/fragment.html :: commonHead"></th:block>
    <link rel="stylesheet" href="/css/notification-list.css">
</head>
<body>

<div class="container">
    <div th:replace="main/fragment.html :: commonNav"></div>
    <div th:replace="main/fragment.html :: notification-list
    (currentMenu = 'link-visited', notificationPage = ${notificationPage}, currentLink = '/notification/list/link-visited', sortDirection = 'desc')"></div>
</div>
<footer th:replace="main/fragment.html :: commonFooter"></footer>
<script th:replace="main/fragment.html :: commonJavaScript"></script>
<script th:replace="main/fragment.html :: momentjs"></script>
<script th:replace="main/fragment.html :: ajax-csrf-header"></script>
</body>
</html>