<!DOCTYPE HTML>
<html land="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment.html :: commonHead"></th:block>
</head>
<body>

<nav th:replace="fragment.html :: commonNav"></nav>

<div class="container">
    <div class="text-center" th:if="${error != null}" style="margin-top: 100px; margin-bottom: 60px">
        <div  class="alert alert-danger" role="alert" th:text="${error}">인증 이메일은 12시간동안...에러 메세지</div>
    </div>

    <div class="text-center" th:if="${error == null}">

        <h3 style="margin-top: 100px">ShareMind 서비스를 사용하려면 이메일 인증을 해 주세요.</h3>

        <div>
            <p style="margin-top: 40px; margin-bottom: 10px;">회원님의 이메일 : </p>
            <p class="lead" th:text="${email}" style="margin-bottom: 31px;">your@email.com</p>
            <a class="btn btn-outline-info" th:href="@{/resend-confirm-email}" style="margin-bottom: 0px;">인증 이메일 다시 보내기</a>
        </div>


    </div>

</div>
<footer th:replace="fragment.html :: commonFooter"></footer>
<script th:replace="fragment.html :: commonJavaScript"></script>
</body>
</html>