<!DOCTYPE HTML>
<html land="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment.html :: commonHead"></th:block>
</head>
<body>

<nav th:replace="fragment.html :: commonNav"></nav>

<div class="container">
    <div class="notification py-5 text-center" th:if="${error}">
        <p class="lead">SharMind 이메일 인증</p>
        <div class="alert alert-danger" role="alert">
            유효하지 않은 이메일 인증 링크 입니다.
        </div>
    </div>

    <div class="notification py-5 text-center" th:if="${error == null}">
        <p class="lead">SharMind 이메일 확인</p>
        <h2>
            <span th:text="${nickname}">nickname</span>님 가입을 환영합니다!
        </h2>
        <small class="text-info">이제부터 ShareMind의 다양한 서비스를 이용하실 수 있습니다.</small>
    </div>

</div>
<footer th:replace="fragment.html :: commonFooter"></footer>
<script th:replace="fragment.html :: commonJavaScript"></script>
</body>
</html>