<!DOCTYPE HTML>
<html land="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment.html :: commonHead"></th:block>
</head>
<body>

<div th:replace="fragment.html :: commonNav"></div>

<div class="container">

        <h2 style="margin-top: 80px; margin-bottom: 23px; text-align: center">비밀번호 찾기</h2>

        <div th:if="${notExistingEmailError != null}" class="alert alert-danger text-center" role="alert">
            <p style="margin-bottom: 0" th:text="${notExistingEmailError}">가입되지 않은 이메일 에러 메시지</p>
        </div>

        <div class="text-center" th:if="${emailCannotSendError != null}" >
            <div  class="alert alert-danger" role="alert" th:text="${emailCannotSendError}">인증 이메일은 12시간동안...에러 메세지</div>
        </div>

        <div th:if="${successMessage}" class="alert alert-info alert-dismissible fade show text-center" role="alert"
             style="margin-bottom: 3px; padding: 10px 39px 8px 21px;width: 400px; margin: auto">
            <span th:text="${successMessage}">이메일 발송 완료 메시지</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                    style="padding-top: 5px;padding-bottom: 0px;">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <form th:action="@{/find-password}" th:object="${findPasswordRequestDto}" method="post" novalidate style="width: 350px; margin: auto; margin-top: 22px">

            <div class="form-group">
                <label for="email">계정 이메일</label>
                <input id="email" type="email" th:field="*{email}" class="form-control"
                       placeholder="your@email.com" aria-describedby="emailHelp" required
                       th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''">
                <small id="emailHelp" class="form-text text-muted" style="margin-top: 10px">
                    계정의 이메일을 입력하세요. 인증되지 않은 이메일로는 비밀번호를 찾을 수 없습니다.
                </small>
                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</small>
            </div>

            <div class="form-group" style="margin-top: 35px;">
                <button class="btn btn-success btn-block" type="submit"
                        aria-describedby="submitHelp">비밀번호 찾기 이메일 보내기</button>
                <small id="submitHelp" class="form-text text-muted" style="margin-top: 10px">
                    계정이 없으시다면, <a href="#" th:href="@{/sign-up}">계정을 먼저 만드세요.</a>
                </small>
            </div>
        </form>

</div>
<footer th:replace="fragment.html :: commonFooter"></footer>
<script th:replace="fragment.html :: commonJavaScript"></script>
</body>
</html>