<!DOCTYPE HTML>
<html land="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment.html :: commonHead"></th:block>
</head>
<body>

<div th:replace="fragment.html :: commonNav"></div>

<div class="container">

    <h2 style="margin-top: 80px; margin-bottom: 35px; text-align: center">비밀번호 찾기</h2>

    <div th:if="${error}" class="alert alert-danger text-center" role="alert">
        <p style="margin-bottom: 0" th:text="${error}">에러 메세지</p>
    </div>

</div>
<footer th:replace="fragment.html :: commonFooter"></footer>
<script th:replace="fragment.html :: commonJavaScript"></script>
</body>
</html>