<!DOCTYPE HTML>
<html land="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment.html :: commonHead"></th:block>
</head>
<body>

<nav th:replace="fragment.html :: commonNav"></nav>

<div class="container">

    <div class="alert alert-warning text-center" role="alert" th:if="${account != null && !account.emailVerified}">
        ShareMind 가입을 완료하려면 <a href="#" th:href="@{/check-email}" class="alert-link">계정 인증 이메일을 확인</a>해 주세요.
    </div>

    <div class="container">

        <div id="profile-container" class="col-7" style="margin: auto; margin-top: 70px; text-align: center">

            <div class="row justify-content-center">

                <div style="text-align: center; margin-left: 0; width: 190px">
                    <!-- Avatar -->
                    <svg th:if="${#strings.isEmpty(account.profileImage)}" class="img-fluid float-left rounded img-thumbnail"
                         th:data-jdenticon-value="${account.userId}" width="131" height="131" ></svg>
                    <img th:if="${!#strings.isEmpty(account.profileImage)}" class="img-fluid float-left rounded img-thumbnail"
                         th:src="${account.profileImage}"
                         width="131" height="131"/>
                </div>

                <table class="col-6" style="text-align: center">
                    <tbody>
                        <tr>
                            <td>닉네임 : </td><td th:text="${account.nickname}" style="font-size: 27px">nickname</td>
                        </tr>
                        <tr style="height: 56px;">
                            <td>아이디 : </td><td th:text="${account.userId}"></td>
                        </tr>
                        <tr style="height: 35px;" th:if="${!isOwner && !#strings.isEmpty(account.bio)}">
                            <td>한 줄 소개 : </td>
                            <td th:text="${account.bio}">bio</td>
                        </tr>
                        <tr style="height: 35px;" th:if="${isOwner}">
                            <td>한 줄 소개 : </td>
                            <td th:if="${!#strings.isEmpty(account.bio)}" th:text="${account.bio}">bio</td>
                            <td th:if="${#strings.isEmpty(account.bio)}">한 줄 소개를 추가해 보세요!</td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

    </div>

</div>
<footer th:replace="fragment.html :: commonFooter"></footer>
<script th:replace="fragment.html :: commonJavaScript"></script>
</body>
</html>