<!doctype html>
<html land="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<th:block th:fragment="commonHead">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Common CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/library/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/library/fontawesome/css/all.min.css">
    <style>
        .container{
            max-width: 100%;
            padding: 0;
        }
        html{
            padding-bottom: 100px;
        }
        .list-group-item{
            width: 160px;
            height: 40px;
            padding: 7px;
        }
        .modal-dialog{
            margin-top: 150px;
        }
    </style>
    <title>TH</title>
</th:block>

<div th:fragment="commonNav">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- 타임리프로 랜더링 할 때, href에 들어갈 값을 "@{/}" 값으로 바꿔준다. -->
        <!-- 타임리프가 알아서 경로 등 치환해줘서 편함. -->
        <!-- 타임리프로 랜더링 하지 않을 때는 순수 href값을 사용-->
        <!-- 사실 타임리프로 랜더링 되지 않을 때, 순수 HTML을 사용할 때 사용할 값을 href="#"와 같이 줘야 한다. -->
        <a class="navbar-brand" href="/" th:href="@{/}" style="margin-left: 3px">TH</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse flex-row-reverse" id="navbarTogglerDemo02">
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}">로그인</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/sign-up}">회원가입</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()" style="margin-top: 1px;margin-right: 7px;">
                    <a class="nav-link btn btn-outline-info" type="button" th:href="@{/post-new-post}"
                       style="padding-top: 6px;padding-bottom: 6px;margin-left: 17px;margin-right: 3px;">
                        <i class="fas fa-plus" style="padding-right: 2px"></i> 게시글 작성
                    </a>
                </li>

                <li class="nav-item" sec:authorize="isAuthenticated()" style="margin-left: 20px;margin-right: 19px;padding-top: 9px">
                        <a id="notificationBell" href="javascript:notificationBellClick();" style="cursor: pointer">
                        <span th:if="${allNotification.size() == 0}" class="text-dark">
                            <i class="far fa-bell fa-lg"></i>
                        </span>
                        <span th:if="${allNotification.size() >= 1}" class="text-danger">
                            <i class="fas fa-bell fa-lg"></i><span class="badge badge-pill badge-danger" th:text="${allNotification.size()}"></span>
                        </span>
                        </a>
                        <div id="notificationList" style="position: absolute;
                        z-index: 1;
                        top: 52px;
                        right: 92px;
                        display: none">
                            <ul class="list-group">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                            </ul>
                        </div>



<!--                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink" style="margin-top: 8px;padding: 2px 14px 2px 14px;max-height: 849px;overflow-y: auto">-->
<!--                            <ul class="list-group">-->
<!--                                <li class="list-group-item">-->
<!--                                    <div style="float: left">asdfasdf</div>-->
<!--                                    <div>-->
<!--                                        <button id="notificationDeleteButton"-->
<!--                                                style="position: absolute;-->
<!--                                        top: 6px;-->
<!--                                        right: 1px;-->
<!--                                        margin: 0;-->
<!--                                        padding: 0;-->
<!--                                        background: none;-->
<!--                                        border: none"-->
<!--                                        onclick="notificationDeleteButton()">-->
<!--                                            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-three-dots-vertical" fill="currentColor" xmlns="http://www.w3.org/2000/svg">-->
<!--                                                <path fill-rule="evenodd" d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>-->
<!--                                            </svg>-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </li>-->
<!--                                <li class="list-group-item">Dapibus ac facilisis in</li>-->
<!--                                <li class="list-group-item">Morbi leo risus</li>-->
<!--                                <li class="list-group-item">Porta ac consectetur ac</li>-->
<!--                                <li class="list-group-item">Vestibulum at eros</li>-->
<!--                            </ul>-->

<!--                            <a class="dropdown-item card disabled" th:if="${allNotification.size() == 0}" href="#" style="padding: 0;margin-top: 6px; margin-bottom: 6px;">-->
<!--                                <div class="card-body text-center text-muted" style="padding: 8px 10px 6px 10px;overflow: hidden;text-overflow: ellipsis;">-->
<!--                                    알림 내역이 없습니다.-->
<!--                                </div>-->
<!--                            </a>-->

<!--                            <div th:if="${allNotification.size() >= 1}" class="dropdown-item card" th:each="notification : ${allNotification}"-->
<!--                                 style="padding: 0;margin-top: 6px; margin-bottom: 6px;">-->
<!--                                <div style="float: left">-->
<!--                                    <a class="btn btn-light text-left" th:href="@{${notification.link}}" style="width: 360px; padding: 8px 10px 6px 10px;overflow: hidden;text-overflow: ellipsis;position: relative">-->

<!--                                    <span th:if="${notification.notificationType == T(portfolio2.module.notification.NotificationType).NEW_POST_WITH_MY_INTEREST_TAG_IS_POSTED ||-->
<!--                                           notification.notificationType == T(portfolio2.module.notification.NotificationType).MY_INTEREST_TAG_IS_ADDED_TO_UPDATED_POST}">-->
<!--                                        회원님의 관심 태그들 중,-->
<!--                                    </span>-->
<!--                                        <br>-->

<!--                                        <span th:if="${notification.notificationType == T(portfolio2.module.notification.NotificationType).NEW_POST_WITH_MY_INTEREST_TAG_IS_POSTED ||-->
<!--                                          notification.notificationType == T(portfolio2.module.notification.NotificationType).MY_INTEREST_TAG_IS_ADDED_TO_UPDATED_POST}"-->
<!--                                              style="font-size: 15px; font-weight: bold" th:each="tag : ${notification.commonTag}">-->
<!--                                        <span th:text="${tag.getTitle()}"></span>-->
<!--                                        <span th:if="${#bools.isFalse(tagStat.last)}">,</span>-->
<!--                                    </span>-->
<!--                                        <br>-->

<!--                                        <span th:if="${notification.notificationType == T(portfolio2.module.notification.NotificationType).NEW_POST_WITH_MY_INTEREST_TAG_IS_POSTED}">-->
<!--                                        의 태그가 포함된 게시물이 게시되었습니다!-->
<!--                                    </span>-->
<!--                                        <span th:if="${notification.notificationType == T(portfolio2.module.notification.NotificationType).MY_INTEREST_TAG_IS_ADDED_TO_UPDATED_POST}">-->
<!--                                        의 태그가 기존 게시물에 추가되었습니다!-->
<!--                                    </span>-->
<!--                                        <br>-->

<!--                                        "<span th:text="${notification.title}"></span>"-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                                <div style="float: left">-->
<!--                                    test-->
<!--                                </div>-->
<!--                            </div>-->


<!--                        </div>-->
                </li>

                <li class="nav-item dropdown" sec:authorize="isAuthenticated()" style="margin-left: 9px;">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" style="padding: 0px;margin-right: 4px">
                        <svg th:if="${#strings.isEmpty(sessionAccount?.profileImage)}" th:data-jdenticon-value="${#authentication.name}"
                             width="39" height="39" class="rounded border bg-light"></svg>
                        <img th:if="${!#strings.isEmpty(sessionAccount?.profileImage)}" th:src="${sessionAccount.profileImage}"
                             width="39" height="39" class="rounded border"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-sm-right" aria-labelledby="userDropdown">
                        <h6 class="dropdown-header">
                            <span sec:authentication="name">Username</span>
                        </h6>
                        <a class="dropdown-item" th:href="@{'/account/profile-view/' + ${#authentication.name}}">프로필</a>
                        <a class="dropdown-item" th:href="@{'/account/post/' + ${#authentication.name}}">내 게시글</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" th:href="@{/account/setting/profile}">설정</a>
                        <form class="form-inline my-2 my-lg-0" action="#" th:action="@{/logout}" method="post">
                            <button class="dropdown-item" type="submit">로그아웃</button>
                        </form>
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav" style="margin-right: 14px">
                <li class="nav-item">
                    <form th:action="@{/search/post}" class="form-inline" method="get">
                        <input class="form-control" name="keyword" type="search" aria-label="Search" style="width: 170px;margin-right: 14px"/>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
                    </form>
                </li>
            </ul>

        </div>
    </nav>

    <div sec:authorize="isAuthenticated()" class="alert alert-warning text-center" role="alert" th:if="${sessionAccount != null && #bools.isFalse(sessionAccount.isEmailVerified())}">
        <a href="#" th:href="@{/account/setting/account}" class="alert-link">이메일 인증</a>을 해야 이메일로 비밀번호 찾기, 이메일 알림 등 이메일을 통한 서비스를 받으실 수 있습니다.
    </div>

</div>

<footer th:fragment="commonFooter" style="text-align: center; color: #6c757d; margin-top: 40px">
    © 2020 Copyright : taehee.kim.dev@gmail.com
</footer>

<th:block th:fragment="commonJavaScript">
    <script src="/library/jquery/jquery-3.5.0.min.js"></script>
    <script src="/library/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/library/jdenticon/jdenticon-2.2.0.min.js"></script>
    <script type="application/javascript">
        window.addEventListener('click', function(e){
            if (!document.getElementById("notificationBell").contains(e.target)
                && !document.getElementById("notificationList").contains(e.target)){
                notificationList.style.display = "none";
            }
        });
        function notificationBellClick(){
            let notificationList = document.getElementById("notificationList");
            if(notificationList.style.display === "none"){
                notificationList.style.display = "";
            }else if(notificationList.style.display === ""){
                notificationList.style.display = "none";
            }
        }
    </script>
</th:block>

<script type="application/javascript" th:inline="javascript" th:fragment="ajax-csrf-header">
    $(function() {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });
    });
</script>

<div th:fragment="setting-menu (currentMenu)" class="list-group" style="text-align: center; width: 160px; margin-right: 75px">
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'profile'}? active" href="#" th:href="@{/account/setting/profile}">프로필</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'notification'}? active" href="#" th:href="@{/account/setting/notification}">알림</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'tag'}? active" href="#" th:href="@{/account/setting/tag}">관심 태그</a>
    <a class="list-group-item list-group-item-action" th:classappend="${currentMenu == 'password'}? active" href="#" th:href="@{/account/setting/password}">패스워드</a>
    <a class="list-group-item list-group-item-action list-group-item-danger" th:classappend="${currentMenu == 'account'}? active" href="#" th:href="@{/account/setting/account}">계정</a>
</div>

<div th:fragment="date-time">
    <script src="/library/momentjs/moment-with-locales.min.js"></script>
    <script type="application/javascript">
        $(function () {
            moment.locale('ko');
            $(".date-weekday-time").text(function(index, dateTime) {
                return moment(dateTime, "YYYY-MM-DD`T`hh:mm").format('LLLL');
            });
        })
    </script>
</div>