<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>TH 이메일 인증</title>
</head>
<body>
    <div>
        <p>안녕하세요, <span th:text="${nickname}">nickname</span>(<span th:text="${userId}">userId</span>)님!</p>

        <h2>아래의 링크를 클릭해 이메일을 인중해 주세요!</h2>

        <div>
            <a th:href="${host + emailVerificationLink}">이메일 인증하기</a>
        </div>
    </div>
    <footer>
        <small>TH&copy; 2020</small>
    </footer>
</body>
</html>