<!DOCTYPE HTML>
<html land="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment.html :: commonHead"></th:block>
</head>
<body>

<div th:replace="fragment.html :: commonNav"></div>

<div class="container">
    <div class="notification py-5 text-center" th:if="${invalidLinkError}">
        <p class="lead">TH 이메일 링크 에러</p>
        <div class="alert alert-danger" role="alert" style="margin-top: 42px;">
            유효하지 않은 링크 입니다.
        </div>
    </div>

</div>
<footer th:replace="fragment.html :: commonFooter"></footer>
<script th:replace="fragment.html :: commonJavaScript"></script>
</body>
</html>