<!DOCTYPE HTML>
<html land="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment.html :: commonHead"></th:block>
</head>
<body>

<div th:replace="fragment.html :: commonNav"></div>

<div class="container">

    <div class="notification text-center" th:if="${invalidLinkError == null}" style="margin-top:90px">
        <h3 style="margin-bottom: 30px;">TH 이메일 인증 성공</h3>
        <h2><span th:text="${nickname}">nickname</span>(<span th:text="${userId}">userId</span>)님의 이메일(<span th:text="${email}">email</span>)이 인증되었습니다!</h2>
        <div th:if="${isEmailVerifiedAccountLoggedIn}">
            <div style="margin-top: 40px"><small class="text-info">이제부터 이메일로 비밀번호 찾기, 이메일 알림 등 이메일을 통한 TH의 다양한 서비스를 이용하실 수 있습니다.</small></div>
        </div>
        <div th:if="${sessionAccount != null && !isEmailVerifiedAccountLoggedIn}">
            <h3 style="margin-top: 30px; margin-bottom: 30px">해당 계정으로 로그인하여 이용해 주세요.</h3>
            <div><small class="text-info">이제부터 이메일로 비밀번호 찾기, 이메일 알림 등 이메일을 통한 TH의 다양한 서비스를 이용하실 수 있습니다.</small></div>
        </div>
        <div th:if="${sessionAccount == null}">
            <h3 style="margin-top: 30px; margin-bottom: 30px">로그인하여 이용해 주세요.</h3>
            <div><small class="text-info">이제부터 이메일로 비밀번호 찾기, 이메일 알림 등 이메일을 통한 TH의 다양한 서비스를 이용하실 수 있습니다.</small></div>
        </div>
    </div>

</div>
<footer th:replace="fragment.html :: commonFooter"></footer>
<script th:replace="fragment.html :: commonJavaScript"></script>
</body>
</html>